h3 {
  padding-top: 0px;
  margin-top: 0px;
}

p {
  padding: 0px;
}

.spot-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}

.spot-details {
  max-width: 1000px;
  /* border-bottom: 1px solid grey; */
  margin-top: 5px;

}

.spot-images-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2px;
}

.spot-images-div img:first-child {
  width: 495px;
  height: 382px;
  grid-row: span 2;
}

.spot-images-div > *:not(:first-child) {
  height: 190px;
  width: 250px;
}

.spot-descrip-reserve-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 7px;
  margin-bottom: 10px;
}

.spot-description-area {
  width: 100%;
  border-bottom: 1px solid grey;

}

.spot-reserve-feature {
  border: 1px solid black;
  border-radius: 25px;
  background-color: white;
}

.spot-reserve-info {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.spot-reserve-button {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

@media (max-width: 999px) {
  .spot-images-div {
    display: flex;
    flex-wrap: wrap;
  }
}
