.spot-details {
  max-width: 1000px;
  
}

.spot-images-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.spot-images-div img:first-child {
  width: 600px;
  height: 490px;
  grid-row: span 2;
}

.spot-images-div > *:not(:first-child) {
  height: 230px
}
