.update-spot-container {
  display: flex;
  justify-content: center;
  padding-left: 300px;
  padding-right: 300px;
  margin-left: 200px;
  margin-right: 200px;
}

.input-fields {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
}

.city-state {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.update-button {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.actual-button {
  align-items: center;
}


.update-text-area {
  resize: none;
  width: 500px;
  height: 150px
}

.section-break {
  border-bottom: 2px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
}


#city {
  width: 285px;
  padding-right: 4px;
}


#state {
  width: 175px;
  padding-left: 4px;
}
