.update-spot-container {
  display: flex;
  justify-content: center;
  padding-left: 300px;
  padding-right: 300px;
  margin-left: 200px;
  margin-right: 200px;
}

.input-fields {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
}

.city-state {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.update-spot-button {
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #7C8A9E;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  line-height: 10px;
  cursor: pointer;
  width: 14%;
  height: 25px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  margin-top: 0px;
}

.actual-button {
  align-items: center;
}


.update-text-area {
  resize: none;
  width: 500px;
  height: 150px
}

.section-break {
  border-bottom: 2px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
}

.submit-button {
  color: red;
}

#city {
  width: 285px;
  padding-right: 4px;
}


#state {
  width: 175px;
  padding-left: 4px;
}
