.hidden {
  display: none;
}

.review {
  resize: none;
}

.review-modal {
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans JP', sans-serif;
  align-items: center;
}

.stars-component {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stars {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.star-input {
  width: 12px;
  display: none;
}

.filled {
  color: gold;
}

.empty {
  color:gray;
}

.error {
  color: red;
}

#submit-review-container {
  display: flex;
  justify-content: center;
}

#submit-review-button {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  height: 2.5rem;
  width: 400px;
}

#submit-review-button:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
