/* TODO: FIX SPACING BETWEEN PRICE AND CITY/STATE / FIX CURSOR IN BETWEEN IMAGES */

.all-spots {
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  padding: 20px;
  margin: 10px 10px;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  color: #000;
}

.spot-container {
  padding-bottom: 10px;
  padding-right: 10px;
}

.spot-images {
  border-radius: 15px;
  width: 18.5rem;
  height: 18.5rem;
  margin: 10px;
}

p {
  padding: 1px 12px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 14px;
  font-weight: bolder;
}

.spot-label {
  display: flex;
  justify-content: space-between;
}
