.all-spots {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  margin: 10px 10px;
}

.spot-container {
  padding-bottom: 10px;
}

.spot-images {
  border-radius: 15px;
  width: 20rem;
  height: 18rem;
  margin: 10px;
}

p {
  padding: 1px 12px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 14px;
  font-weight: bolder;
}

.spot-label {
  display: flex;
  justify-content: space-between;
}
