.hidden {
  display: none
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid lightgray;
  padding: 10px 20px;
}


#home-icon, #home-icon:visited {
  line-height: 45px;
  text-decoration: none;
  font-family: 'Lobster', cursive;
  height: 47px;
  font-size: 30px;
  color: inherit;
  padding: 0px 50px;
  background-image: url('../../../public/images/totoro-114.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 50px;
}

.profile-button {
  height: 40px;
  width: 77px;
  background-color: transparent;
  border: 1px solid #CCCC;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: box-shadow .2s ease;
}

.profile-button:hover {
  height: 40px;
  width: 77px;
  background-color: transparent;
  border: 1px solid #CCCC;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: -.5px 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
