h1 {
  text-align: center;
  border-bottom: 1px solid lightgray;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 10px;
  margin: 1px;
}

form {
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans JP', sans-serif;
}

input {
  width: 20rem;
  margin-bottom: 10px;
  font-family: 'Noto Sans JP', sans-serif;
  border: 1px solid black;
}

button {
  margin-top: 7px;
  height: 40px;
  font-family: 'Noto Sans JP', sans-serif;
  cursor: pointer;
  padding: 10px;
}

#modal-content {
  padding: 10px;
  border-radius: 15px;
}

.error {
  color: red;
}

.demo-user {
  color: blue;
}
