#login-text {
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 10px;
  margin: 1px;
}

.login-container {
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans JP', sans-serif;
  align-items: center;
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.login-input {
  width: stretch;
  margin: 4px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border: 2px solid black;
}

input {
  width: 20rem;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Noto Sans JP', sans-serif;
  border: 1px solid black;
}

#log-in-button-disabled {
  display: inline-block;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  /* cursor: pointer; */
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  margin-top: 12px;
  margin-bottom: 10px;
  height: 2.5rem;
  width: 400px;
}

#log-in-button-enabled {
  display: inline-block;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  margin-bottom: 10px;
  height: 2.5rem;
  width: 400px;
}

#log-in-button-enabled:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  background-color: cornflowerblue;
  color: white;
}

#modal-content {
  padding: 10px;
  border-radius: 15px;
}

.error {
  color: red;
}

.demo-user {
  color: blue;
}
